
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/apps/dctrl-apps/components/content/carousel/clientlibs/carousel.css">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js?ver=3.0.1"></script>
    <script type="text/javascript" src="/apps/dctrl-apps/components/content/carousel/clientlibs/js/carousel.js"></script>
</head>
<body>


<div id="rotating-item-wrapper">

    <img class ="rotating-item" src="/content/dam/dctrl-content/canada/alberta.jpg" width="980" height="347">
    <img class ="rotating-item" src="/content/dam/dctrl-content/canada/" width="980" height="347">

</div>

</body>
</html>